<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-uppercase">Smart Pantry</h5>
                <p class="text-muted">Simplifying your pantry management.</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/aboutus" class="text-muted">About Us</a></li>
                    <li><a href="/contactus" class="text-muted">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/profile.php?id=61563414943631" class="text-muted">Facebook</a><i class="fa-brands fa-square-facebook social"></i></li>
                    <li><a href="https://x.com/smart_pantry0?t=GGbl9KmoYATykYF9PtDk0A&s=03" class="text-muted">Twitter</a><i class="fa-brands fa-square-x-twitter social"></i></li>
                    <li><a href="https://www.instagram.com/smart.pantry?utm_source=qr&igsh=OWF4NDF2aXRoOGxu" class="text-muted">Instagram</a><i class="fa-brands fa-instagram social"></i></li>
                </ul>
            </div>
        </div>
        <div class="text-center1 mt-4">
            <p class="text-muted mb-0">&copy; 2024 Smart Pantry. All Rights Reserved.</p>
        </div>
    </div>
</footer>
