<% layout("/layouts/boilerplate") %>

<section class="hero-section text-center text-white py-3">
    <div class="container">
        <h1 class="display-4">About Us</h1>
        <p class="lead">What We Do & Who We Are </p>
    </div>
</section>
<section class="mission-statement py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-white">
                <h2>Our Mission</h2>
                <p>Our mission is to simplify pantry management, reduce food waste, and ensure that everyone has access to the resources they need to lead a healthy life.</p>
            </div>
            <div class="col-md-6">
                <img src="images/our.jpeg" alt="Mission Image" class="img-fluid ">
            </div>
        </div>
    </div>
</section>
<section class="our-values py-5">
    <div class="container">
        <h2 class="text-center text-white mb-4">Our Core Values</h2>
        <div class="row text-center">
            <div class="col-md-3 mb-4">
                <h4 class="text-white">Integrity</h4>
                <p class="text-light">We operate with honesty and transparency in all our actions.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h4 class="text-white">Sustainability</h4>
                <p class="text-light">We are committed to reducing waste and promoting sustainable practices.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h4 class="text-white">Community</h4>
                <p class="text-light">We believe in giving back and supporting our community.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h4 class="text-white">Innovation</h4>
                <p class="text-light">We constantly seek new and better ways to serve our users.</p>
            </div>
        </div>
    </div>
</section>
<div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
      <p class="text-blk section-head-text">
        Meet Our Team
      </p>
      <p class="text-blk section-subhead-text">
        The Creative Forces of Our Team
      </p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="images/aman-photoaidcom-cropped.jpg">
            </div>
            <p class="text-blk name">
              Aman Gohel
            </p>
            <p class="text-blk position">
              5th CE(VVP)
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="images/dhruv-photoaidcom-cropped.jpg">
            </div>
            <p class="text-blk name">
              Dhruv Goswami
            </p>
            <p class="text-blk position">
              5th CE(VVP)
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="images/vraj-photoaidcom-cropped.jpg">
            </div>
            <p class="text-blk name">
              Vraj Isotiya
            </p>
            <p class="text-blk position">
              5th CE(VVP)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


